.footer-container {
    background-color: #282c34;
    padding: 1rem;
    color: white;
    text-align: left;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .full-footer{
    background-color: #34495e;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: left;
}
.top-footer p {
  color: white;
}
.top-footer a{
  color: white;
  font-weight: 600;
}
.top-footer h3 { 
  color: white; 
}
.bottom-footer{
  background-color: #19232e;
}
.bottom-footer p{
  color: white;
  background-color:black;
}